body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.ml-40 {
    margin-left: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.container {
    width: 95%;

    h3 {
        padding: 15px;
        font-size: 35px;
        text-align: center;
    }

    .row {
        margin-bottom: 0;
    }

    .labelTxt {
        font-size: 17px;
        font-weight: normal;
        margin-top: 10px;
        display: inline-block;
        color: #333;
    }

    .input {
        padding: 10px 50px;
        // text-align: center;
    }

    .txtRs {
        text-align: left;
        margin-top: 15px;
        font-size: 18px;
    }

    .range-field {
        margin: 10px 0 0;
    }

    .txt {
        margin-top: 15px;
        text-align: center;
        span {
            color: #333;
        }
    }

    .totAmnt {
        margin: 25px 0 10px;
        a{
            display: block;
        }

        b {
            font-size: 22px;
        }

        span {
            font-size: 25px;
            margin-left: 35px;
            display: inline-block;
            padding: 12px;
            background-color: rgb(212, 212, 212);
            border-radius: 3px;
        }
    }

}

.chrt {
    padding: 20px 0;
    box-sizing: border-box;

    // height: 524px;
    h4 {
        margin-top: 20px;
        text-align: center;
        font-size: 26px;
    }

    #myChart {
        margin-top: 37px;
        width: 100%;
    }
}

.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

input[type=number] {
    font-weight: 500;
    font-size: 24px !important;
}

input[type=range] {
    margin: 11px 0;
    border: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}