body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}
.ml-40 {
    margin-left: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}
h3{
    margin: 0;
}
.headTxt{
    padding: 25px 0 0px !important;
    font-size: 30px;
    text-align: center;
}
#lumsumCal{
    display: none;
}
.container {
    width: 95%;
    
    .subTxt{
        text-align: center;
        display: block;
        font-size: 16px;
        margin: 10px 0 15px;
    }

    .row {
        margin-bottom: 0;
        background-color: #fff;
    }


    .labelTxt {
        font-size: 17px;
        font-weight: normal;
        margin-top: 10px;
        display: inline-block;
        color: #333;
    }

    .input {
        padding: 10px 50px;
        // text-align: center;
    }

    .txtRs {
        text-align: left;
        margin-top: 15px;
        font-size: 18px;
    }

    .range-field {
        margin: 10px 0 0;
    }

    .txt2 {
        text-align: center;

        span {
            color: #333;
            display: block;
            text-align: center;
            margin-top: 0;
            font-size: 15px;
        }
    }

    .totAmnt {
        margin: 30px 0 25px;

        a {
            display: block;
        }

        b {
            font-size: 22px;
            color: #002521;
        }

        span {
            font-size: 23px;
            margin-left: 35px;
            display: inline-block;
            padding: 12px;
            background-color: rgba(38, 166, 154, 0.2);
            color: #002b27;
            border-radius: 3px;
        }

        #res {
            font-size: 23px;
            color: #002b27;
        }
    }

}

.chrt {
    padding: 51px 0;
    box-sizing: border-box;

    h3 {
        position: absolute;
        top: 355px;
        left: 600px;
        font-size: 40px;
        transform: rotate(-32deg);
        color: #d4d4d4;

    }

    h4 {
        position: absolute;
        top: 110px;
        left: 800px;
        font-size: 25px;
        display: none;
    }

    #myChart {
        margin-top: 37px;
        width: 100%;
    }
}

.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

input[type=number] {
    font-weight: 500;
    font-size: 24px !important;
}

input[type=range] {
    margin: 11px 0;
    border: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}